{% extends 'base.html' %}

{% block content %}

    <!-- Main Content -->


        <section class="dashboard">
            <div class="level-card">
                <h3>Darajangiz</h3>
                <div class="progress">
                    <div class="fill"></div>
                </div>
                <p>9 LVL</p>
            </div>

            <div class="map-card">
                <img src="./../static/images/map.jpg" alt="map">
                <button class="btn">Batafsil</button>
            </div>

            <div class="ads-card">
                <h4>Space Premium</h4>
                <p>Orqali yanada ko'proq coinlarga ega bo'ling</p>
            </div>
        </section>

        <section class="lessons">
            <div class="lesson">
                <h4>Kurs CSS</h4>
                <p>19% bajarildi</p>
                <button>Davom etish</button>
            </div>
            <div class="lesson">
                <h4>NB-2889</h4>
                <p>2-dars, 1-modul</p>
                <button>Davom etish</button>
            </div>
        </section>
    </div>

{% endblock content %}